.card {
    border: none;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card-body {
    padding: 25px;
}

.stat-icon {
    font-size: 40px;
    color: white;
}

.stat-value {
    font-size: 32px;
    font-weight: bold;
}

.stat-title {
    font-size: 16px;
    opacity: 0.9;
}